---
import Layout from "../layouts/Layout.astro";
---

<Layout title="AstroGL" showTitle>
  <main>
    <canvas class="pepitos"></canvas>
  </main>
</Layout>

<style></style>

<script>
  const canvas = document.querySelector(".pepitos");
  console.log(canvas);
</script>
